
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Novo Cadastro";
}

<div class="card">
    <div class="body">
        <form id="sign_up" method="POST">
            <div class="msg"><label>@ViewData["Title"]</label></div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="namesurname" placeholder="Nome" required autofocus>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="password" minlength="6" placeholder="Senha" required>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" class="form-control" name="confirm" minlength="6" placeholder="Confirmar Senha" required>
                </div>
            </div>

            <button class="btn btn-primary btn-block btn-lg waves-effect" type="submit" >Inscrever-se</button>

            <div class="m-t-25 m-b--5 align-center">
                <a href="/Login" style="color:#57a15f;">Você já possui cadastro?</a>
            </div>
        </form>
    </div>
</div>