
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Recuperar Senha";
}

<div class="logo">
    <a href="javascript:void(0);">SGIA</a>
</div>
<div class="card">
    <div class="body">
        <form id="forgot_password" method="POST">
            <div class="msg">@ViewData["Title"]</div>
            <div class="msg">
                Digite seu endereço de e-mail que você usou para se registrar. Enviaremos um e-mail com seu nome de usuário e um link para redefinir sua senha.
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                </div>
            </div>

            <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Enviar Email</button>

            <div class="row m-t-20 m-b--5 align-center">
                <a href="/Login/Index">Login</a>
            </div>
        </form>
    </div>
</div>