@model Site.DashCardsViewModel

@{
    Layout = null;
}

<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-yellow"><i class="fab fa-black-tie"></i> </div>
        <div class="content">
            <span>Total de Docentes</span>
            <h5 class="number mb-0">@Model.DocentesTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-gray"><i class="fa fa-users"></i> </div>
        <div class="content">
            <span>Total de Dicentes</span>
            <h5 class="number mb-0">@Model.DicentesTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-dark"><i class="fa fa-drafting-compass"></i> </div>
        <div class="content">
            <span>Total de Projetos Ativos</span>
            <h5 class="number mb-0">@Model.ProjetoTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-azure"><i class="fa fa-users"></i> </div>
        <div class="content">
            <span>Total Turma</span>
            <h5 class="number mb-0">@Model.TurmasTotal.ToString()</h5>
        </div>
    </div>
</div>