@section scripts{ 
    <script>
        $(function () {
            DashCards();
            DashProjetos();
        });

        function DashCards() {
            $.ajax({
                method: 'GET',
                url: '/Home/DashCards',
                dataType: 'html',
                success: function (content) {
                    $('#DashCards').html(content);
                }
            });
        }

        function DashProjetos() {
            $.ajax({
                method: 'GET',
                url: '/Home/DashProjetos',
                dataType: 'html',
                success: function (content) {
                    $('#DashProjetos').html(content);
                }
            });
        }
    </script>
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="DashCards"></div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="DashProjetos"></div>
            </div>
        </div>
    </div>
</div>