@model List<Site.DashTurmaViewModel>

@{
    Layout = null;
}

<div class="card">
    <div class="header" style="background-color: #57a15f !important;">
        <h2>TURMAS</h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(a => a.TurmaId))
                    {
                        <tr>
                            <td>@item.TurmaId</td>
                            <td>@item.Descricao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>