@{
    Layout = null;
}

<ul class="list">
    <li>
        <a href="/Home/DashBoard">
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>
    </li>

    <li>
        <a href="/Home/MenuCenter">
            <i class="fas fa-bars"></i>
            <span>Menu</span>
        </a>
    </li>

    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">widgets</i>
            <span>Categorias</span>
        </a>

        <ul class="ml-menu">
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Financeiro</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/FinancialRevenues">Faturamento</a>
                    </li>
                    <li>
                        <a href="/FinancialCosts">Custos</a>
                    </li>
                    <li>
                        <a href="/FinancialExpenses">Despesas</a>
                    </li>
                    <li>
                        <a href="/FinancialInputOutput">Entrada/Saida</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Calculos</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Contas Pagar</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Contas Receber</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Tesouraria</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Fornecedores</a>
                    </li>
                    <li>
                        <a href="/FinancialCalculations">Logistica</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Comercial</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/CommercialPrice">Preço</a>
                    </li>
                    <li>
                        <a href="/CommercialDiscount">Desconto</a>
                    </li>
                    <li>
                        <a href="/CommercialMarketplace">Mercado</a>
                    </li>
                    <li>
                        <a href="/CommercialMarketplace">Fornecedores</a>
                    </li>
                    <li>
                        <a href="/CommercialMarketplace">Clientes</a>
                    </li>
                    <li>
                        <a href="/CommercialMarketplace">Logistica</a>
                    </li>
                    <li>
                        <a href="/CommercialMarketplace">Nivel Produtividade</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Consultoria</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="">Banco Dados</a>
                    </li>
                    <li>
                        <a href="">Projetos</a>
                    </li>
                    <li>
                        <a href="">Riscos</a>
                    </li>
                    <li>
                        <a href="">Planejamento Fin.</a>
                    </li>
                    <li>
                        <a href="">Plano Negocio</a>
                    </li>
                    <li>
                        <a href="">Orcamentos</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Contabil</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/AccountTaxes">Imposto</a>
                    </li>
                    <li>
                        <a href="/AccountDeductions">Deduções</a>
                    </li>
                    <li>
                        <a href="/AccountGuides">Guias</a>
                    </li>
                    <li>
                        <a href="/AccountComparativeAnalysis">Análise Comparativo</a>
                    </li>
                    <li>
                        <a href="/AccountCalculations">Calculos</a>
                    </li>
                    <li>
                        <a href="/AccountReport">Relatorio</a>
                    </li>
                    <li>
                        <a href="/AccountReport">Calculo Trabalhista</a>
                    </li>
                    <li>
                        <a href="/AccountReport">Balanco</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <span>Financiamento</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="">Livro Diario</a>
                    </li>
                    <li>
                        <a href="">Livro Razao</a>
                    </li>
                    <li>
                        <a href="">ARE</a>
                    </li>
                    <li>
                        <a href="">DRE</a>
                    </li>
                    <li>
                        <a href="">Balancete</a>
                    </li>
                    <li>
                        <a href="">Balanco Temporario</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <a href="/Tasks">
            <i class="fas fa-tasks"></i>
            <span>Tarefas</span>
        </a>
    </li>

    <li>
        <a href="/Calculator">
            <i class="fas fa-calculator"></i>
            <span>Calculadora</span>
        </a>
    </li>

    <li>
        <a href="">
            <i class="fas fa-chart-line"></i>
            <span>Gráfico</span>
        </a>
    </li>

    <li>
        <a href="">
            <i class="fas fa-edit"></i>
            <span>Editor Texto</span>
        </a>
    </li>

    <li>
        <a href="">
            <i class="fas fa-table"></i>
            <span>Tabelas</span>
        </a>
    </li>

    <li>
        <a href="">
            <i class="material-icons">settings</i>
            <span>Configurações</span>
        </a>
    </li>

    <li>
        <a href="/Home/VersionHistory">
            <i class="fas fa-history"></i>
            <span>Histórico de Versão</span>
        </a>
    </li>

    <li>
        <a href="javascript:void(0);">
            <i class="material-icons">help</i>
            <span>Ajuda</span>
        </a>
    </li>

</ul>