@model List<Menu>

@{
    Layout = null;
}

<ul class="list">
    @foreach (var item in Model.OrderBy(a => a.Ordem))
    {
        <li>
            <a href="@item.Link" title="@item.Descricao">
                <i class="material-icons" style="color:#57a15f">@item.Icone</i>
                <span>@item.Titulo</span>
            </a>
        </li>
    }
</ul>