@model Domain.User

@{
    ViewData["Title"] = "Meu Perfil - Alterar";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    @using (Html.BeginForm("Alterar", "Profile", FormMethod.Post))
    {
        <div class="card-body form-horizontal">

       
            <div class="footer-view">
                <button type="submit" class="btn btn-primary fa-pull-left">Gravar</button>
                <a href="@Url.Action("Index", "Profile")" class="btn btn-default fa-pull-right">Fechar</a>
            </div>
        </div>
    }
</div>