@{
    Layout = null;
}

    <div id="header_top" class="header_top" style="background-color:#004a00 !important">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="index.html"><i class="fa fa-graduation-cap brand-logo"></i></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fas fa-stream"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="fas fa-feather"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fas fa-cog"></i></a>
                </div>
            </div>
            <div class="hright">
                <a href="javascript:void(0)" class="nav-link icon right_tab"><i class="fas fa-align-right"></i></a>
                <a href="@Url.Action("Exit", "Login")" class="nav-link icon settingbar"><i class="fas fa-power-off"></i></a>
            </div>
        </div>
    </div>
